/* Variable declarations */
:root {
  --side-bar-menu-width: 150px;
  --top-menu-height: 50px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: var(--top-menu-height);
  padding-left: var(--side-bar-menu-width);
}

/* Links inside the navbar */
a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Create side bar start */
.sidenav {
  height: 100%;
  width: var(--side-bar-menu-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Create side bar end */

/* Section CSS start */
section {
  padding-left: calc(var(--side-bar-menu-width) + 10px);
  padding-top: calc(var(--top-menu-height) + 10px);
}

/* Two column layout start */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 480px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Two column layout end */

/*Common button class */
.btn {
  color: red;
  background-color: aqua;
  text-decoration: none;
  margin: 5px;
}

/* Section CSS end*/

/* Check source code start */
.check-source-code {
  margin: 10px;
}
/* Check source code end */

/* Rounded Button start */
.rounded-button {
  border-radius: 25px; /*Creates the rounded corner*/
}
/* Rounded Button end */

/* Rectagular Button start */
.rectangular-button {
}
/* Rectagular Button end */

/* Parallelogram button start */
.parallelogram-button {
  transform: skew(20deg);
}
.skew-fix {
  display: inline-block;
  transform: skew(-20deg);
}
/* Parallelogram button end */

/* Parallelogram button start */
.parallelogram-button1 {
  transform: skew(-20deg);
}
.skew-fix1 {
  display: inline-block;
  transform: skew(20deg);
}
/* Parallelogram button end */

/* Hover button effect start */
.hover-button {
  border-radius: 25px;
}

.hover-button:hover {
  background-color: red;
  color: aqua;
}
/* Hover button effect end */

/* Wiggle Button start */
.wiggle-height {
  height: 800px;
}

.wiggle-button {
  border-radius: 25px;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* Wiggle Button end */

/* toggle Button start */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* toggle Button end */
