/* Variable declarations */
:root {
  --side-bar-menu-width: 150px;
  --top-menu-height: 50px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: var(--top-menu-height);
  padding-left: var(--side-bar-menu-width);
}

/* Links inside the navbar */
a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Create side bar start */
.sidenav {
  height: 100%;
  width: var(--side-bar-menu-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Create side bar end */

/* Section CSS start */
section {
  padding-left: calc(var(--side-bar-menu-width) + 10px);
  padding-top: calc(var(--top-menu-height) + 10px);
}

/* Two column layout start */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Two column layout end */

/*Common button class */
.btn {
  color: red;
  background-color: aqua;
  text-decoration: none;
  margin: 5px;
}

/* Section CSS end*/

/* Rounded Button start */
.rounded-button {
  border-radius: 25px; /*Creates the rounded corner*/
}
/* Rounded Button end */

/* Rectagular Button start */
.rectangular-button {
}
/* Rectagular Button end */

/* Parallelogram button start */
.parallelogram-button {
  transform: skew(20deg);
}
.skew-fix {
  display: inline-block;
  transform: skew(-20deg);
}
/* Parallelogram button end */

/* Parallelogram button start */
.parallelogram-button1 {
  transform: skew(-20deg);
}
.skew-fix1 {
  display: inline-block;
  transform: skew(20deg);
}
/* Parallelogram button end */
